<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="open()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>
  <mat-sidenav-container *ngIf="viewNav == true" class="example-sidenav-container">
    <mat-sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of sideNavList">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
