
<div class="bg-color p-3">
  <h2>Register</h2>
  <p>Looks like you are first time here, create an account below to order products here</p>
  <div class="p-t-24 d-flex flex-column">
    <label>User Name</label>
    <input type="text" name="" id="">
  </div>
  <div class="p-t-24 d-flex flex-column">
    <label>Email id</label>
    <input type="text" name="" id="">
  </div>
  <div class="p-t-24 d-flex flex-column">
    <label>Password</label>
    <input type="text" name="" id="">
  </div>
  <div class="p-t-24 p-r-12 row justify-content-end">
  <button type="button">Register</button>
  </div>
</div>
